:root {
    --font: "Winky Sans", sans-serif;
    --bgc: #171718;
}

.main_container {
    width: min(100%, 1440px);
    padding-top: 88px;
    background-color: var(--bgc);
}

header {
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f3f3f3, #c9c7d4, #9f9db6, #767599, #4d507d, #3a406b, #283059, #142148, #181e3b, #191c2f, #191923, #171718);
}

header img {
    width: 90px;
    transition: all .2s;
}

header img:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

nav ul li a {
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0px 2px 5px #006b5b;
}

nav ul li a:hover {
    color: #cdc2df;
}

.logout {
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: #191923;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s;
}

.logout:hover {
    background-color: #c9c7d4;
}

.login_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100vh;
    padding: 60px 80px;
    background-color: var(--bgc);
    font-family: var(--font);

}

.login_cont h2 {
    color: #9f9db6;
    font-size: 30px;
}

.login_cont form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #767599;
    font-size: medium;
}

.login_cont form input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.login_cont form input:hover {
    scale: 1.05;
    border: 1px solid #a3f1e6;

}

.login_cont form button {
    width: 20%;
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 20px;
}

.login_cont form button:hover {
    scale: 1.04;
    border: 1px solid #a3f1e6;
}

.login_cont a {
    color: #4d507d;
    transition: all .1s linear;
}

.login_cont a:hover {
    scale: 1.02;
    color: #767599;
}

.register_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100vh;
    background-color: var(--bgc);
    font-family: var(--font);
}

.register_cont h2 {
    color: #9f9db6;
    font-size: 30px;
}

.register_cont form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #767599;
    font-size: medium;
}

.register_cont form input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.register_cont form input:hover {
    scale: 1.05;
    border: 1px solid #a3f1e6;
}

.register_cont form button {
    width: 20%;
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 20px;
}

.register_cont form button:hover {
    scale: 1.04;
    border: 1px solid #a3f1e6;
}

.register_cont a {
    color: #4d507d;
    transition: all .1s linear;
}

.register_cont a:hover {
    scale: 1.02;
    color: #767599;
}