:root {
    --font: "Winky Sans", sans-serif;
    --bgc: #171718;
}

.main_container {
    width: min(100%, 1440px);
    min-height: 100vh;
    padding-top: 88px;
    background-color: var(--bgc);
}

header {
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f3f3f3, #c9c7d4, #9f9db6, #767599, #4d507d, #3a406b, #283059, #142148, #181e3b, #191c2f, #191923, #171718);
}

header img {
    width: 90px;
    transition: all .2s;
}

header img:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

nav ul li {
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0px 2px 5px #006b5b;
    cursor: pointer;
}

nav ul li:hover {
    color: #cdc2df;
}

nav ul li a {
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0px 2px 5px #006b5b;
}

nav ul li a:hover {
    color: #cdc2df;
}

.logout {
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: #191923;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s;
}

.logout:hover {
    background-color: #c9c7d4;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-95%);
    background-color: #142148;
    padding: 14px 20px;
    width: 13%;
    border-radius: 10px;
    height: 38vh;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: #006b5b var(--bgc);
    z-index: 3;
}

#category ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;

}

#category ul li {
    color: #191923;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid #006b5b;
    border-radius: 5px;
    background-color: #f3f3f3;
}

#category ul li a {
    display: flex;
    padding: 4px 7px;
}

.login_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100vh;
    padding: 60px 80px;
    background-color: var(--bgc);
    font-family: var(--font);

}

.login_cont h2 {
    color: #9f9db6;
    font-size: 30px;
}

.login_cont form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #767599;
    font-size: medium;
}

.login_cont form input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.login_cont form input:hover {
    scale: 1.05;
    border: 1px solid #a3f1e6;

}

.login_cont form button {
    width: 20%;
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 20px;
}

.login_cont form button:hover {
    scale: 1.04;
    border: 1px solid #a3f1e6;
}

.login_cont a {
    color: #4d507d;
    transition: all .1s linear;
}

.login_cont a:hover {
    scale: 1.02;
    color: #767599;
}

.register_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100vh;
    background-color: var(--bgc);
    font-family: var(--font);
}

.register_cont h2 {
    color: #9f9db6;
    font-size: 30px;
}

.register_cont form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #767599;
    font-size: medium;
}

.register_cont form input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.register_cont form input:hover {
    scale: 1.05;
    border: 1px solid #a3f1e6;
}

.register_cont form button {
    width: 20%;
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 20px;
}

.register_cont form button:hover {
    scale: 1.04;
    border: 1px solid #a3f1e6;
}

.register_cont a {
    color: #4d507d;
    transition: all .1s linear;
}

.register_cont a:hover {
    scale: 1.02;
    color: #767599;
}

.card_cont {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100%;
    border: none;
    font-family: var(--font);
    transition: all .1s linear;
}

.card:hover {
    scale: 1.02;
    box-shadow: 2px 2px 4px #545353;

}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    color: var(--bgc);
    font-size: 20px;
    font-weight: 600;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.btn_and_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_and_rating p {
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    color: #f2f1fa;
    font-family: var(--font);
    font-size: 16px;
}

/* article page : */

.article_view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}

.article_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_head h1 {
    color: #f2f1fa;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font);
}

.article_info {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.article_info p {
    color: #f2f1fa;
    font-size: 14px;
    font-family: var(--font);
}

.article_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tags ul li {
    color: #f2f1fa;
    font-size: 18px;
    font-family: var(--font);
    font-weight: 600;
    border: 1px solid #f2f1fa;
    display: inline-block;
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #3a406b;
    margin-left: 4px;
}

.real_tags {
    cursor: pointer;
    transition: all .1s linear;
}

.real_tags:hover {
    color: #f2f1fa;
    background-color: #4d507d;
}

.article_text_cont {
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #f2f1fa;
    border-radius: 10px;
}

.article_text_cont img {
    float: left;
    width: 40%;
    margin: 0 20px 10px 0;
}

.article_text {
    color: #f2f1fa;
    font-size: 18px;
    font-family: var(--font);
    font-weight: 100;
    text-align: justify;
    line-height: 1.3;
    text-indent: 2em;
}

/* comments  */

.article_comments {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.load_comments {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.load_comments h2 {
    color: #f2f1fa;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
    border: 1px solid #f2f1fa;
    border-radius: 10px;
}

.comment_user {
    color: #f2f1fa;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font);
}

.comment_text {
    color: #f2f1fa;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
}

.comment_date {
    text-align: end;
    color: #f2f1fa;
    font-size: 14px;
    font-family: var(--font);
}

.reviews {
    width: 30%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reviews h3 {
    color: #f2f1fa;
    font-size: 26px;
    font-weight: 600;
    font-family: var(--font);
}

.create_comment form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create_comment form textarea {
    outline: none;
    background-color: var(--bgc);
    padding: 10px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #f2f1fa;
    font-family: var(--font);
    font-size: medium;
    resize: none;
    transition: all .1s linear;
}

.create_comment form button {
    width: 30%;
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 16px;
}

.review form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.review form select {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    color: #f2f1fa;
    font-family: var(--font);
    font-size: medium;
}

.review form select:focus {
    background-color: var(--bgc);
    color: #f2f1fa;
}

.review form button {
    width: 40%;
    padding: 10px 14px;
    background-color: #142148;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 16px;
}

/* new article  */

.new_article_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    width: 100%;
}

.new_article_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new_article_heading {
    font-size: 30px;
    font-weight: 600;
    color: #f2f1fa;
    font-family: var(--font);
}

.new_article_title input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.new_article_title input:focus {
    background-color: var(--bgc);
    color: #f2f1fa;
}

.new_image input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.new_tags input {
    outline: none;
    background-color: var(--bgc);
    padding: 5px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    transition: all .1s linear;
}

.new_article_text textarea {
    outline: none;
    background-color: var(--bgc);
    padding: 10px 10px;
    border: 1px solid #006b5b;
    border-radius: 5px;
    width: 100%;
    cursor: auto;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: medium;
    resize: none;
    transition: all .1s linear;
}

.new_article_text textarea:focus {
    background-color: var(--bgc);
    color: #f2f1fa;

}

.new_article_form button {
    width: 30%;
    padding: 10px 14px;
    background-color: #006b5b;
    border: 1px solid #3a406b;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
    color: #a4b0d3;
    font-family: var(--font);
    font-size: 20px;
}