{% extends "base.html" %} {% block title %} {{ article.title }} 
{% endblock title%} {% block content %}
<div class="article_view">
  <div class="article_head">
    <h1>{{ article.title }}</h1>
    <div class="article_info">
      <p>by: {{ article.author }}</p>
      <p>created on: {{ article.created_at }}</p>
      <p>views: {{ article.views }}</p>
    </div>
  </div>
  <div class="article_body">
    <div class="tags">
      <ul>
        <li>Tags:</li>
        {% for tag in article.tags.all %}
        <li class="real_tags">
          <a href="{% url 'article_by_tag' tag.name %}"> {{ tag.name }}</a>
        </li>
        {% empty %}
        <li>No tags available</li>
        {% endfor %}
      </ul>
      {% if user == article.author %}
      <form method="POST" action="{% url 'delete_article' article.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn-delete btn-danger">Delete Article</button>
      </form>
      {% endif %}
    </div>
    <div class="article_text_cont">
      <img src="{{ article.thumbnail.url }}" alt="" />
      <p class="article_text">{{ article.text|safe }}</p>
      <p class="article_text">{{ article.text }}</p>
    </div>
  </div>
  <div class="article_comments">
    <div class="load_comments">
      <h2>Comments</h2>
      {% for comment in comments %}
      <div class="comment">
        <p class="comment_user">{{ comment.user.username }}</p>
        <p class="comment_text">{{ comment.text }}</p>
        <p class="comment_date">{{ comment.created_at }}</p>
        {% if user == comment.user or user == article.author %}
          <form method="POST" action="{% url 'delete_comment' comment.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn-delete btn-danger">Delete Comment</button>
          </form>
        {% endif %}
      </div>
      {% empty %}
      <p>No comments available</p>
      {% endfor %}
    </div>
    <div class="reviews">
      <h3>Leave a Review</h3>
      <div class="create_comment">
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="review">
        <form method="POST">
          {% csrf_token %} {{ review_form.as_p }}
          <button type="submit" name="review_submit" class="btn btn-primary">
            Submit Review
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
