{% extends "base.html" %} {% block title %} Articles {% endblock title %}
{%block content %}
<div class="card" style="width: 18rem">
  {% for article in Articless %}
  <div class="card" style="width: 18rem">
    <img
      src="{{ article.thumbnail.url }}"
      class="card-img-top"
      alt="Thumbnail"
    />
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.text }}</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  {% empty %}
  <p>No articles available.</p>
  {% endfor %}
</div>
{% endblock content %}
